# Intro

Goal: 

- trying out basic GLM on simulated data
- demonstrate what happens if there is a linear or log relationship with a feature

In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import PoissonRegressor

# Poisson One Cont. Feature

Mistakes you can make: 
- not applying a log transformation
- leaving alpha at default
-

TODO: 
- it seems like the tol is the maximum of the gradient, but then what's the point...? that's very loose
- recalculate likelihoods
- GLM from scratch?

In [83]:
# generate data
# we have one feature, feature_1, and Poisson lambda is going to be linear by it

df = pd.DataFrame.from_dict({'feature_1' : np.repeat(range(1000,10001),100)})
df['lambda'] = df['feature_1'] / 10000
df['claim_number'] = np.random.poisson(df['lambda'])
df['log_feature_1'] = np.log(df['feature_1'])

In [84]:
sum(df['lambda'])

495054.99999998964

In [85]:
sum(df['claim_number'])

494539

In [97]:
mdl = PoissonRegressor()

mdl = PoissonRegressor(alpha = 0) # OK, this was it actually

In [98]:
X = df[['log_feature_1']]
y = df['claim_number']

In [99]:
mdl.fit(X, y)

PoissonRegressor(alpha=0)

In [100]:
df['pred_claim_number'] = mdl.predict(X)

In [102]:
df.sample(5)

        feature_1  lambda  claim_number  log_feature_1  pred_claim_number
423765       5237  0.5237             0       8.563504           0.522730
61884        1618  0.1618             0       7.388946           0.160617
389163       4891  0.4891             1       8.495152           0.488038
203832       3038  0.3038             1       8.018955           0.302467
206152       3061  0.3061             0       8.026497           0.304768

In [103]:
mdl.intercept_

-9.252185049000621

In [104]:
mdl.coef_

array([1.00466994])

In [93]:
np.exp(mdl.intercept_ + np.log(10000) * mdl.coef_[0])

0.6011817406511082

In [94]:
np.exp(mdl.intercept_) * 10000 ** mdl.coef_[0]

0.6011817406511081

In [95]:
1 / 10000 * 10000 ** 1

1.0

In [96]:
# so mdl_coef should be 1, while mdl_intercept should be log(1/10000)
np.log(1/10000)

-9.210340371976182

# Double-Log

What happens if the real-life relationship is already logarithmic.